<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/home.css" />
    <title>Cadastro</title>
  </head>
  <body>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>

    <header>
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
          <div class="container">
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNav"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                  <a class="nav-link" href="index.html#home">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="quem-somos.html">Quem Somos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="index.html#pacotes">Pacotes</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>

    <main>
      <div class="container-xl" style="margin-top: 100px">
        <form method="post" action="../controller/cliente/cadController.php">
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Nome Completo:</label
            >
            <input
              type="text"
              class="form-control"
              id="exampleInputPassword1"
              name="nome"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">CPF:</label>
            <input
              type="text"
              class="form-control"
              id="exampleInputPassword1"
              name="cpf"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email:</label>
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              name="email"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Senha:</label>
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              name="senha"
            />
          </div>
          <button type="submit" class="btn btn-success">Cadastrar</button>
        </form>
      </div>
    </main>
  </body>
</html>
