div.login {
  border: solid 2px;
  margin: auto;
  margin-top: 200px;
  height: 300px;
  width: 400px;
  border-radius: 10px;
}

button.btn-success {
  margin-left: 30px;
  margin-top: 10px;
}

input.form-control {
  width: 300px;
  margin-left: 30px;
}

label.form-label {
  margin-left: 30px;
}
