div.profile {
  display: flex;
  margin-top: 200px;
  margin-left: 50px;
  width: 600px;
  height: 200px;
}

div.info {
  margin-top: 55px;
  margin-left: 20px;
}

i.icon {
  border-radius: 30px;
  height: 150px;
  padding-bottom: 15px;
  padding-top: 5px;
}

div.alterar {
  padding: 10px;
  margin-left: 20px;
}

button.btn {
  margin-top: 10px;
}

a {
  color: white;
  text-decoration: none;
}

.profileBtn {
  width: 200px;
  margin-left: 200px;
}

.table {
  width: 700px;
}
